<p>
  <strong>Person with opinions:</strong>
  <%= comment.commenter %>
</p>

<p>
  <strong>Message of Insecure Thoughts:</strong>
  <%= comment.body %>
</p>

<p>
  <%= link_to 'Remove Comment', [comment.article, comment],
              method: :delete,
              data: { confirm: 'Are you sure?' } %>
</p>